html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --primary-background-color: #fff;
  --secondary-background-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --hover-text-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --hero-bg-hover: #188ce8;
  --contact-footer-text: rgba(255, 255, 255, 0.6);
  --logo-stan-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
img {
  display: block;
}

/* Стилизация Шапки */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.head-flex {
  display: flex;
  align-items: center;
}

/* Стилизация Лого */
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-stan-color);
}
.logo-span {
  color: var(--hover-text-color);
}
.footer-logo-color {
  color: var(--primary-background-color);
}
/* Стилизация списка через класс */
.list-style {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Стилизация меню */
.header-menu .flex-menu:not(:last-child) {
  margin-right: 50px;
}
.header-menu {
  margin-left: 93px;
  margin-right: 331px;
}

.header-menu .link {
  display: block;
  color: var(--title-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-menu .link:hover,
.header-menu .link:focus {
  color: var(--hover-text-color);
}
.header-menu .link.link-current {
  color: var(--hover-text-color);
}
/* Стилизация контактов */
.header-contact .flex-cont:not(:last-child) {
  margin-right: 50px;
}
.header-contact .link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  padding: 32px 0;
}
.footer-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-footer-text);
  text-decoration: none;
}
.footer-li {
  margin-bottom: 9px;
}
.header-contact a:hover,
.header-contact a:focus {
  color: var(--hover-text-color);
}
.footer-contact a:hover,
.footer-contact a:focus {
  color: var(--hover-text-color);
}
/* Стилизация hero-title */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
}
.hero-box {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

/* Кнопки Button */
.hero-button {
  min-width: 200px;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-background-color);
  background-color: var(--hover-text-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  padding: 10px 32px;

  /* margin-bottom: 200px; */
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-bg-hover);
}
.button {
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--button-bg-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  padding: 6px 22px;
  outline: 2px solid tomato;
}
.button:hover,
.button:focus {
  color: var(--primary-background-color);
  background-color: var(--hover-text-color);
}
/* current button */
.current {
  color: var(--primary-background-color);
  background-color: var(--hover-text-color);
}

/* Стилизация advantages */
.container.advantages {
  padding-top: 94px;
  padding-bottom: 0;
}
.Advantages-flex {
  display: flex;
}
.Advantages-flex .Advantages-list:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  margin: 0;
}
.advantages-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantages-text {
  margin: 0;
  line-height: 1.7;
}
/* Секция About */
.container.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
}
.about-list .li:not(:last-child) {
  margin-right: 30px;
}
/* Стилизация team */
.team {
  background-color: var(--button-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
}
.team-list .li {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
}
.team-list .li:not(:last-child) {
  margin-right: 30px;
}
.team-img {
  margin-bottom: 30px;
}
.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.team-position {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 30px;
}
.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  color: var(--primary-background-color);
}
.address-text {
  margin-top: 0;
  margin-bottom: 9px;
}

/* Стилизация страницы Портфолио */
.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--title-color);
}
.description {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;

  color: var(--text-color);
}
.filter a {
  text-decoration: none;
}
.container.fil {
  padding-top: 94px;
  padding-bottom: 50px;
}
.port-img {
  margin-top: 0;
  margin-bottom: 20px;
}
.container.port {
  padding-top: 0;
  padding-bottom: 94px;
}
